## 문제풀이

In [43]:
import pandas as pd

In [44]:
df = pd.read_excel("테스트데이터.xlsx")

In [48]:
df

   도시                      시간
0  아산 2022-03-04 12:22:40.000
1  아산 2022-03-02 12:22:40.000
2  천안 2022-03-06 12:32:40.000
3  천안 2022-03-07 12:22:39.995
4  천안 2022-04-21 12:22:40.000
5  수원 2022-05-09 12:22:40.000
6  수원 2022-03-10 12:22:39.995
7  수원 2022-04-11 12:22:40.000
8  수원 2022-03-10 12:33:40.000

In [45]:
# 데이터 타입 확인 
df.dtypes

도시            object
시간    datetime64[ns]
dtype: object

In [46]:
도시 = df.도시.unique()

In [47]:
도시

array(['아산', '천안', '수원'], dtype=object)

In [62]:
name_list = []

In [63]:
for i in range(len(도시)):
    # leading zero로 이름 지정 
    name1 = 도시[i] + str(i+1).zfill(3) 
    print(name1)
    
    # 각 도시별 새 데이터프레임 생성 
    new = df[df['도시'] == 도시[i]] 
    
    # 시간에 따라 오름차순으로 정렬 
    ## without SettingWithCopyWarning : copy() 메서드를 통해 새로운 메모리에 부여
    new = new.sort_values(by=['시간'], ascending=True).copy()
    
    # 엑셀 파일로 저장 
    name.to_excel("{}.xlsx".format(name1), index = False)
    name_list.append("{}.xlsx".format(name1))
    
    print(name)
    print()
print(name_list)

아산001
   도시                      시간
6  수원 2022-03-10 12:22:39.995
8  수원 2022-03-10 12:33:40.000
7  수원 2022-04-11 12:22:40.000
5  수원 2022-05-09 12:22:40.000

천안002
   도시                      시간
6  수원 2022-03-10 12:22:39.995
8  수원 2022-03-10 12:33:40.000
7  수원 2022-04-11 12:22:40.000
5  수원 2022-05-09 12:22:40.000

수원003
   도시                      시간
6  수원 2022-03-10 12:22:39.995
8  수원 2022-03-10 12:33:40.000
7  수원 2022-04-11 12:22:40.000
5  수원 2022-05-09 12:22:40.000

['아산001.xlsx', '천안002.xlsx', '수원003.xlsx']

In [64]:
print(name_list)

['아산001.xlsx', '천안002.xlsx', '수원003.xlsx']

## 개념

### leading zero
- 앞에 0이 있는 1과 10을 표시
- .rjust() 이용하는 방법 (채울 수를 직접 정의 가능)
- str.zfill() 이용하는 방법 (자동으로 0 채워짐)

In [16]:
a = [1, 10]
for num in a:
    print(str(num).rjust(2, "0"))

01
10

In [17]:
print(str(1).zfill(2))
print(str(10).zfill(2))

01
10

In [19]:
print(str(1).zfill(3))
print(str(23).zfill(3))

001
023

In [ ]:
# width : 지정된 문자열의 길이 지정, fillchar : 문자열을 채우려는 문자
rjust(width = , fillchar = )